%tr
  %td= raw_page_view.id
  %td= raw_page_view.date
  %td= raw_page_view.article_id
  %td= raw_page_view.title
  %td= raw_page_view.permalink
  %td= raw_page_view.referrer_url
  %td= raw_page_view.writer_id
  %td= raw_page_view.cookie_id