= javascript_include_tag 'jquery', 'highcharts', 'application'

- plot_height = params[:size]=='small' ? 175 : 500
- xlabel = params[:size]=='small' ?  "" : "%e %b, %Y"
- right_margin = params[:size]=='small' ? 0 : 25
- left_margin = params[:size]=='small' ? 0 : 40

:javascript
  $(function(){
    
    localize_highcharts("#{I18n.locale}");
    
    // Make the 'page_view_plot' div a highchart showing the total view counts.
    var chart;
    chart = new Highcharts.Chart({
      chart: {
        renderTo: 'page_view_plot',
        defaultSeriesType: 'line',
        height: "#{plot_height}",
        marginLeft: #{left_margin},
        marginRight: #{right_margin}
      },
      credits: {
        enabled: false
      },
      title: false,
      legend: {
        enabled: false
      },
      xAxis: {
        type: 'datetime',
        tickInterval: #{2.weeks * 1000},
        labels: {
          formatter: function() {
            return Highcharts.dateFormat("#{xlabel}", this.value);
          },
        }
        
      },
      yAxis: {
        title: false,
        min: 0
      },
      tooltip: {
        formatter: function() {
          return Highcharts.dateFormat("%B %e %Y", this.x) + ': ' + this.y;
        }
      },
      series: [
      {
        name: 'Last 12 Weeks',
        pointInterval: #{1.week * 1000},
        pointStart: #{@start_date.at_midnight.to_i * 1000},
        data: #{@view_counts_by_week.inspect}
      }
      ]
      
    });
  });
  

#page_view_plot