%div
  %h2= title
  #domains
    %table
      %thead
        %tr
          %th.first= I18n.t('report.domains')
          %th= I18n.t('report.views')
      %tbody
    .loading
      = render 'loading_indicator'
    .more
      = render 'more'